@model APICrudConsume.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow-sm mx-auto mt-4" style="max-width: 600px;">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">Delete Confirmation</h4>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Are you sure you want to delete this student?</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Student ID</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.studentId)</dd>

            <dt class="col-sm-4">Student Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.studentName)</dd>

            <dt class="col-sm-4">Age</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.age)</dd>

            <dt class="col-sm-4">Gender</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.studentGender)</dd>

            <dt class="col-sm-4">Standard</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.standard)</dd>
        </dl>
        <div class="text-center">
            <form asp-action="Delete" class="d-inline">
                <input type="submit" value="Delete" class="btn btn-danger me-2" />
            </form>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
